HTTP_ADDR=:9101
API_PREFIX=/api/v1
MCP_PATH=/mcp

ARK_API_KEY=your_ark_api_key_here
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_IMAGE_ENDPOINT_PATH=/images/generations
ARK_MODEL_TEXT2IMAGE=doubao-seedream-4-5-251128
ARK_MODEL_IMAGE2IMAGE=doubao-seedream-4-5-251128

REQUEST_TIMEOUT_SECONDS=120
MCP_SERVER_NAME=seedream-image-server
MCP_SERVER_VERSION=0.1.0

MINIO_ENDPOINT=192.168.2.161:9000
MINIO_ACCESS_KEY=3cd3slylevRF7TUf1L4X
MINIO_SECRET_KEY=ySTNVwG9QBe1OvpQAopfBjPvr3oDeaDaSyr7wqOy
MINIO_BUCKET=vision-ai
MINIO_USE_SSL=false
MINIO_PUBLIC_BASE_URL=http://192.168.2.161:9000
MINIO_OBJECT_PREFIX=image
MINIO_AUTO_CREATE_BUCKET=false
