MODE=prod

HTTP_ADDR=:9101
API_PREFIX=/api/v1
MCP_PATH=/mcp

ARK_API_KEY=ark-2d1cdc36-8f6c-47f8-a798-473a5c5170f5-13c76
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_IMAGE_ENDPOINT_PATH=/images/generations
ARK_MODEL_TEXT2IMAGE=your-text-2-image-model
ARK_MODEL_IMAGE2IMAGE=your-image-2-image-model

REQUEST_TIMEOUT_SECONDS=120
MCP_SERVER_NAME=image-generation-mcp-server
MCP_SERVER_VERSION=0.1.0

MINIO_ENDPOINT=192.168.2.161:9000
MINIO_ACCESS_KEY=3cd3slylevRF7TUf1L4X
MINIO_SECRET_KEY=ySTNVwG9QBe1OvpQAopfBjPvr3oDeaDaSyr7wqOy
MINIO_BUCKET=vision-ai
MINIO_USE_SSL=false
MINIO_PUBLIC_BASE_URL=http://192.168.2.161:9000
MINIO_OBJECT_PREFIX=image
MINIO_AUTO_CREATE_BUCKET=false
